# Módulo 1 - autenticación/autorización
# Genere un secreto aleatorio de al menos 32 caracteres.
JWT_SECRET_KEY=CAMBIAR_POR_UN_SECRETO_LARGO_ALEATORIO_DE_32_O_MAS_CARACTERES
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=100
ACTIVE_USER_STATUS_NAME=Activo
DELETED_USER_STATUS_NAME=Eliminado
ADMIN_ROLE_NAME=Administrador
