<div class="contact-inline" aria-label="Datos de contacto prioritarios">
  <span>
    <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-sakura)" stroke-width="2" aria-hidden="true">
      <path d="M4 6h16v12H4z" />
      <path d="m4 7 8 6 8-6" />
    </svg>
    {{ candidato.correo }}
  </span>
  <span>
    <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-sakura)" stroke-width="2" aria-hidden="true">
      <path d="M6 5c2 6 7 11 13 13l2-4-4-2-2 2c-2-1-4-3-5-5l2-2-2-4z" />
    </svg>
    {{ candidato.telefono }}
  </span>
  <a *ngIf="candidato.urlPerfil" [href]="candidato.urlPerfil" target="_blank" rel="noreferrer">
    <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="var(--color-sakura)" stroke-width="2" aria-hidden="true">
      <path d="M6 9v10" />
      <path d="M6 5v.2" />
      <path d="M11 19v-6a4 4 0 0 1 8 0v6" />
      <path d="M11 9v10" />
    </svg>
    {{ candidato.urlPerfil }}
  </a>
</div>
